<p id="notice"><%= notice %></p>
<%= render 'follow_form'%>
<p>
  <b>Full name:</b>
  <%= @profile.full_name %>
</p>

<p>
  <b>About:</b>
  <%= @profile.about %>
</p>

<p>
  <b>Website:</b>
<% if current_user.profile.followers.exists?(:id => @profile.id) or current_user.profile.id==@profile.id or @profile.user.privacy == 1  %>
  <%= @profile.website %>
  <% else %>
  <b>Privado </b>
  <% end %>
</p>

<p>
  <b>Contact email:</b>
<% if current_user.profile.followers.exists?(:id => @profile.id) or current_user.profile.id==@profile.id or @profile.user.privacy == 1  %>
  <%= @profile.contact_email %>
  <% else %>
  <b>Privado </b>
  <% end %>
</p>

<p>
  <b>Birthday:</b>
  <% if current_user.profile.followers.exists?(:id => @profile.id) or current_user.profile.id==@profile.id or @profile.user.privacy == 1  %>
  <%= @profile.birthday %>
  <% else %>
  <b>Privado </b>
  <% end %>
</p>

<p>
  <b>Gender:</b>
  <%= @profile.gender %>
</p>

<p>
  <b>Country:</b>
  <%= @profile.country %>
</p>

<p>
  <b>State:</b>
  <%= @profile.state %>
</p>

<p>
  <b>City:</b>
  <%= @profile.city %>
</p>

<p>
  <b>High school:</b>
  <%= @profile.high_school %>
</p>

<p>
  <b>College:</b>
  <%= @profile.college %>
</p>

<p>
  <b>Work at:</b>
  <%= @profile.work_at %>
</p>

<%= link_to('Eventos', eventos_path)%> |
<%= link_to('Mensagens', mensagems_path)%> |
<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', root_path %>
