<% title "Events" %>
<% @profile_id = current_user.profile.id %>
<p><%= link_to "Create your Event", new_evento_path %></p>
<%= form_for @search, :url => "/eventos/pesquisa" do |f| %>
<table> 
  <tr>
     <td>Name:</td>  
     <td>Local:</td>
     <td>Owner:</td>
  </tr> 
  <tr>
     <td><% String campo = 'nome' %>
        <%= f.text_field campo, size:20 %></td> 
     <td><%= f.text_field 'local', size:20 %></td> 
     <td><%= f.text_field 'criador', size:20 %></td>      
     <td><%= f.submit "Search" %></td>
  </tr>
 </table> 
<% end %>

<br/> 
<hr/>
<h3>My Events</h3>
<table>
   <% for evento in @eventos %>
	  <p>
	  <tr><td><strong>Name:</strong></td><td><%= evento.nome %></td></tr>
	  <tr><td><strong>Date:</strong> </td><td><%= evento.data.strftime('%d %b %Y') %><div id="spc"><div/></td>
	  <td>&#32;&#32;<%= link_to "View", evento %></td>
	  <% unless evento.profile_id != @profile_id %>
		<td><%= link_to "Edit", edit_evento_path(evento) %></td>
		<td>&#32;&#32;<%= link_to "Delete", evento, :confirm => 'are you sure?', :method => :delete %></td></tr>
	  <% else %>
		<td>&#32;&#32;<%= link_to "Join", evento_participar_path(evento), :confirm => 'are you sure?' %></td></tr>
	  <% end %>
	  <tr><td><strong>Local:</strong></td><td><%= evento.local %>   </td></tr>
	  <tr><td><div id="spc2"><div/><td> </tr>
	  </p>
    <% end %>
    <%= paginate @eventos %>
</table>

<% @participacoes = current_user.profile.participations %>
<h3>Confirmed Events Participations</h3>
<table>
	<% for participacao in @participacoes %>
		<p>
		<tr><td><strong>Name:</strong></td><td><%= participacao.nome %></td></tr>
		<tr><td><strong>Date:</strong> </td><td><%= participacao.data.strftime('%d %b %Y') %><div id="spc"><div/></td>
		<td>&#32;&#32;<%= link_to "View", participacao %></td>
		<tr><td><strong>Local:</strong></td><td><%= participacao.local %>   </td></tr>
		<tr><td><div id="spc2"><div/><td> </tr>
	  </p>
    <% end %>
	<%= paginate @participacoes %>
</table>
<p><%= link_to "Back", home_index_path%></p>
