<% title   @evento.nome  %>
<% @profile_id = current_user.profile.id %>
<% @participations = @evento.participacao_eventos %>
<div id="lateral">

    <div id= "image">
      <center>
       <%= image_tag("eventos.png", :alt=>"ok", :size=> "180x180")%>
      </center>
    </div>
  </br>
    <p>
      <strong>Participantes:</strong>
<% @participantes = @evento.profiles %>
<table>
<% for participante in @participantes %>
	<tr><td><%= participante.full_name %></td></tr>
<% end %>
</table>
    </p>

<p>

</p>
</div><div id="conteudo">
  
<p>
  <strong>Date:</strong>
  <%= @evento.data.strftime('%d %b %Y') %>

</p>
<p>
  <strong>Hour:</strong>
    <%= @evento.data.strftime('%Hh') %>
    
    <%= @evento.data.strftime('%M') %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @evento.criador %>
</p>

<p>
  <strong>Local:</strong>
  <%= @evento.local %>
</p>
<p>
  <strong>Description:</strong>
  <%= @evento.desc %>
</p>
  <% unless @evento.profile_id != @profile_id %>
	<%= link_to "Edit", edit_evento_path(@evento) %> |
	<%= link_to "Delete", @evento, :confirm => 'Are you sure?', :method => :delete %> |
  <% else %>
<% unless @participations.find(:first, :conditions => ["profile_id = ?", @profile_id]) %>
			<%= link_to "Join", evento_participacao_eventos_new_path(@evento) %></td></tr>
		<% end %>
  <% end %>
  <%= link_to "Back", eventos_path %>
 <br>
 <br/>
  <br>
 <br/>
  
</div>
