$('#comment_like_<%= @comment.id %>').html(
		<% if not @comment.comment_likes.empty? %>
			<% if @comment.comment_likes.size == 1 %>
			"<p><%= @comment.comment_likes.first.user.profile.full_name %>  likes this.</p>"
			<% else %>
			"<p><%= @comment.comment_likes.size %> people likes this.</p>"
			<% end %>
		<% else %>
			""
		<% end %>
)

$('#comment_like_link_<%= @comment.id %>').html(
	"<a href='<%= custom_create_comment_comment_likes_path(@comment) %>' data-remote='true'>Like</a>"
)
