<h1>Listing participacao_eventos</h1>

<table>
  <tr>
    <th>Evento</th>
    <th>Profile</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @participacao_eventos.each do |participacao_evento| %>
  <tr>
    <td><%= participacao_evento.evento_id %></td>
    <td><%= participacao_evento.profile_id %></td>
    <td><%= link_to 'Show', participacao_evento %></td>
    <td><%= link_to 'Edit', edit_participacao_evento_path(participacao_evento) %></td>
    <td><%= link_to 'Destroy', participacao_evento, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Participacao evento', new_participacao_evento_path %>
