<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="container">
      <div id="top">
      <div id="image">
          <%= image_tag("fakebook2.png", :alt=>"ok", :size=> "160x60")%>
      </div>
      </div>
       <div id="in">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= content_tag :h1, yield(:title) if show_title? %>
      <%= yield %>
      </div>
      <div id="down">
       <center> Fakebook © 2012 </center>
      </div> 
    </div>
  </body>
</html>
